In [ ]:
#Load the dataset and add the columns ordered prodcut sales and Ordered Product Sales - B2B
# and convert the dateframe to year-month-date
#Add a column total prodcut sales
#Remove any rows with total prodcut sales as 0
#save the output in csv file

In [12]:
import pandas as pd
import numpy as np
import datetime

In [2]:
df = pd.read_csv("https://raw.githubusercontent.com/manishanker/stats_ml_jun2020/master/BusinessReport-5-15-20%20(1).csv")

In [4]:
df.head()

,Date,Ordered Product Sales,Ordered Product Sales - B2B,Units Ordered,Units Ordered - B2B,Total Order Items,Total Order Items - B2B,Average Sales per Order Item,Average Sales per Order Item - B2B,Average Units per Order Item,Average Units per Order Item - B2B,Average Selling Price,Average Selling Price - B2B,Sessions,Order Item Session Percentage,Order Item Session Percentage - B2B,Average Offer Count
0,04/13/2020,$0.00,$0.00,0,0,0,0,$0.00,$0.00,0.0,0.0,$0.00,$0.00,19,0.00%,0.00%,3
1,04/14/2020,$12.99,$0.00,1,0,1,0,$12.99,$0.00,1.0,0.0,$12.99,$0.00,5,20.00%,0.00%,3
2,04/15/2020,$59.96,$0.00,4,0,4,0,$14.99,$0.00,1.0,0.0,$14.99,$0.00,63,6.35%,0.00%,3
3,04/16/2020,$59.96,$0.00,4,0,4,0,$14.99,$0.00,1.0,0.0,$14.99,$0.00,68,5.88%,0.00%,3
4,04/17/2020,$89.94,$14.99,6,1,6,1,$14.99,$14.99,1.0,1.0,$14.99,$14.99,62,9.68%,1.61%,3

In [5]:
df.columns

Index(['Date', 'Ordered Product Sales', 'Ordered Product Sales - B2B',
       'Units Ordered', 'Units Ordered - B2B', 'Total Order Items',
       'Total Order Items - B2B', 'Average Sales per Order Item',
       'Average Sales per Order Item - B2B', 'Average Units per Order Item',
       'Average Units per Order Item - B2B', 'Average Selling Price',
       'Average Selling Price - B2B', 'Sessions',
       'Order Item Session Percentage', 'Order Item Session Percentage - B2B',
       'Average Offer Count'],
      dtype='object')

In [7]:
#to add second and third columns, first we need to remove the $ from both columns

In [8]:
#First create a new data set consisiting of only required three columns

In [9]:
df_new = df[df.columns[0:3]]

In [11]:
df_new

          Date Ordered Product Sales Ordered Product Sales - B2B
0   04/13/2020                 $0.00                       $0.00
1   04/14/2020                $12.99                       $0.00
2   04/15/2020                $59.96                       $0.00
3   04/16/2020                $59.96                       $0.00
4   04/17/2020                $89.94                      $14.99
5   04/18/2020                $74.95                      $14.99
6   04/19/2020                $14.99                       $0.00
7   04/20/2020                 $0.00                       $0.00
8   04/21/2020                $29.98                       $0.00
9   04/22/2020                $14.99                       $0.00
10  04/23/2020                $59.96                       $0.00
11  04/24/2020                 $0.00                       $0.00
12  04/25/2020                $64.94                       $0.00
13  04/26/2020                $99.92                       $0.00
14  04/27/2020               $122.91                       $0.00
15  04/28/2020                 $0.00                       $0.00
16  04/29/2020                $14.99                       $0.00
17  04/30/2020                $11.99                       $0.00
18  05/01/2020                $11.99                       $0.00
19  05/02/2020                 $0.00                       $0.00
20  05/03/2020                $26.98                       $0.00
21  05/04/2020                $71.94                       $0.00
22  05/05/2020                $86.93                       $0.00
23  05/06/2020                $65.94                       $0.00
24  05/07/2020               $125.90                       $0.00
25  05/08/2020               $264.77                      $14.99
26  05/09/2020                $65.94                       $0.00
27  05/10/2020                $97.92                       $0.00
28  05/11/2020               $147.88                       $0.00
29  05/12/2020               $219.82                       $0.00
30  05/13/2020               $169.85                       $0.00

In [13]:
#Define a function to get rid of $
def money_to_float(money_str):
    """ 
        Function to replace $ with space
    """
    
    return float(money_str.replace("$",""))

In [14]:
pd.to_datetime(df["Date"])

0    2020-04-13
1    2020-04-14
2    2020-04-15
3    2020-04-16
4    2020-04-17
5    2020-04-18
6    2020-04-19
7    2020-04-20
8    2020-04-21
9    2020-04-22
10   2020-04-23
11   2020-04-24
12   2020-04-25
13   2020-04-26
14   2020-04-27
15   2020-04-28
16   2020-04-29
17   2020-04-30
18   2020-05-01
19   2020-05-02
20   2020-05-03
21   2020-05-04
22   2020-05-05
23   2020-05-06
24   2020-05-07
25   2020-05-08
26   2020-05-09
27   2020-05-10
28   2020-05-11
29   2020-05-12
30   2020-05-13
Name: Date, dtype: datetime64[ns]

In [22]:
#Other method
def convert_date_format(date_str):
    """
        Function to format the date to YYYY-MM-DD
    """
    return datetime.datetime.strptime(date_str, '%m/%d/%Y').strftime('%Y-%m-%d')

In [23]:
convert_date_format("4/28/2020")

'2020-04-28'

In [24]:
df_new1 = df_new.copy()
df_new1['Ordered Product Sales'] = df_new1['Ordered Product Sales'].apply(money_to_float)
df_new1['Ordered Product Sales - B2B'] = df_new1['Ordered Product Sales - B2B'].apply(money_to_float)

In [25]:
df_new1

          Date  Ordered Product Sales  Ordered Product Sales - B2B
0   04/13/2020                   0.00                         0.00
1   04/14/2020                  12.99                         0.00
2   04/15/2020                  59.96                         0.00
3   04/16/2020                  59.96                         0.00
4   04/17/2020                  89.94                        14.99
5   04/18/2020                  74.95                        14.99
6   04/19/2020                  14.99                         0.00
7   04/20/2020                   0.00                         0.00
8   04/21/2020                  29.98                         0.00
9   04/22/2020                  14.99                         0.00
10  04/23/2020                  59.96                         0.00
11  04/24/2020                   0.00                         0.00
12  04/25/2020                  64.94                         0.00
13  04/26/2020                  99.92                         0.00
14  04/27/2020                 122.91                         0.00
15  04/28/2020                   0.00                         0.00
16  04/29/2020                  14.99                         0.00
17  04/30/2020                  11.99                         0.00
18  05/01/2020                  11.99                         0.00
19  05/02/2020                   0.00                         0.00
20  05/03/2020                  26.98                         0.00
21  05/04/2020                  71.94                         0.00
22  05/05/2020                  86.93                         0.00
23  05/06/2020                  65.94                         0.00
24  05/07/2020                 125.90                         0.00
25  05/08/2020                 264.77                        14.99
26  05/09/2020                  65.94                         0.00
27  05/10/2020                  97.92                         0.00
28  05/11/2020                 147.88                         0.00
29  05/12/2020                 219.82                         0.00
30  05/13/2020                 169.85                         0.00

In [33]:
# create a new column like Total_Product_sales

df_new1['Total_Prodcut_sales'] = df_new1['Ordered Product Sales'] + df_new1['Ordered Product Sales - B2B']

In [35]:
df_new1

,Date,Ordered Product Sales,Ordered Product Sales - B2B,New_date_format,Total_Prodcut_sales
0,04/13/2020,0.00,0.00,2020-04-13,0.00
1,04/14/2020,12.99,0.00,2020-04-14,12.99
2,04/15/2020,59.96,0.00,2020-04-15,59.96
3,04/16/2020,59.96,0.00,2020-04-16,59.96
4,04/17/2020,89.94,14.99,2020-04-17,104.93
5,04/18/2020,74.95,14.99,2020-04-18,89.94
6,04/19/2020,14.99,0.00,2020-04-19,14.99
7,04/20/2020,0.00,0.00,2020-04-20,0.00
8,04/21/2020,29.98,0.00,2020-04-21,29.98
9,04/22/2020,14.99,0.00,2020-04-22,14.99
10,04/23/2020,59.96,0.00,2020-04-23,59.96
11,04/24/2020,0.00,0.00,2020-04-24,0.00
12,04/25/2020,64.94,0.00,2020-04-25,64.94
13,04/26/2020,99.92,0.00,2020-04-26,99.92
14,04/27/2020,122.91,0.00,2020-04-27,122.91
15,04/28/2020,0.00,0.00,2020-04-28,0.00
16,04/29/2020,14.99,0.00,2020-04-29,14.99
17,04/30/2020,11.99,0.00,2020-04-30,11.99
18,05/01/2020,11.99,0.00,2020-05-01,11.99
19,05/02/2020,0.00,0.00,2020-05-02,0.00
20,05/03/2020,26.98,0.00,2020-05-03,26.98
21,05/04/2020,71.94,0.00,2020-05-04,71.94
22,05/05/2020,86.93,0.00,2020-05-05,86.93
23,05/06/2020,65.94,0.00,2020-05-06,65.94
24,05/07/2020,125.90,0.00,2020-05-07,125.90
25,05/08/2020,264.77,14.99,2020-05-08,279.76
26,05/09/2020,65.94,0.00,2020-05-09,65.94
27,05/10/2020,97.92,0.00,2020-05-10,97.92
28,05/11/2020,147.88,0.00,2020-05-11,147.88
29,05/12/2020,219.82,0.00,2020-05-12,219.82
30,05/13/2020,169.85,0.00,2020-05-13,169.85

In [27]:
#using the fucniton convert the date format

df_new1['New_date_format'] = df_new1['Date'].apply(convert_date_format)

In [34]:
df_new1

,Date,Ordered Product Sales,Ordered Product Sales - B2B,New_date_format,Total_Prodcut_sales
0,04/13/2020,0.00,0.00,2020-04-13,0.00
1,04/14/2020,12.99,0.00,2020-04-14,12.99
2,04/15/2020,59.96,0.00,2020-04-15,59.96
3,04/16/2020,59.96,0.00,2020-04-16,59.96
4,04/17/2020,89.94,14.99,2020-04-17,104.93
5,04/18/2020,74.95,14.99,2020-04-18,89.94
6,04/19/2020,14.99,0.00,2020-04-19,14.99
7,04/20/2020,0.00,0.00,2020-04-20,0.00
8,04/21/2020,29.98,0.00,2020-04-21,29.98
9,04/22/2020,14.99,0.00,2020-04-22,14.99
10,04/23/2020,59.96,0.00,2020-04-23,59.96
11,04/24/2020,0.00,0.00,2020-04-24,0.00
12,04/25/2020,64.94,0.00,2020-04-25,64.94
13,04/26/2020,99.92,0.00,2020-04-26,99.92
14,04/27/2020,122.91,0.00,2020-04-27,122.91
15,04/28/2020,0.00,0.00,2020-04-28,0.00
16,04/29/2020,14.99,0.00,2020-04-29,14.99
17,04/30/2020,11.99,0.00,2020-04-30,11.99
18,05/01/2020,11.99,0.00,2020-05-01,11.99
19,05/02/2020,0.00,0.00,2020-05-02,0.00
20,05/03/2020,26.98,0.00,2020-05-03,26.98
21,05/04/2020,71.94,0.00,2020-05-04,71.94
22,05/05/2020,86.93,0.00,2020-05-05,86.93
23,05/06/2020,65.94,0.00,2020-05-06,65.94
24,05/07/2020,125.90,0.00,2020-05-07,125.90
25,05/08/2020,264.77,14.99,2020-05-08,279.76
26,05/09/2020,65.94,0.00,2020-05-09,65.94
27,05/10/2020,97.92,0.00,2020-05-10,97.92
28,05/11/2020,147.88,0.00,2020-05-11,147.88
29,05/12/2020,219.82,0.00,2020-05-12,219.82
30,05/13/2020,169.85,0.00,2020-05-13,169.85

In [36]:
df_new1['Dummy_Total_Prodcut_Sales'] = 'Total_Prodcut_sales'

In [37]:
df_new1

,Date,Ordered Product Sales,Ordered Product Sales - B2B,New_date_format,Total_Prodcut_sales,Dummy_Total_Prodcut_Sales
0,04/13/2020,0.00,0.00,2020-04-13,0.00,Total_Prodcut_sales
1,04/14/2020,12.99,0.00,2020-04-14,12.99,Total_Prodcut_sales
2,04/15/2020,59.96,0.00,2020-04-15,59.96,Total_Prodcut_sales
3,04/16/2020,59.96,0.00,2020-04-16,59.96,Total_Prodcut_sales
4,04/17/2020,89.94,14.99,2020-04-17,104.93,Total_Prodcut_sales
5,04/18/2020,74.95,14.99,2020-04-18,89.94,Total_Prodcut_sales
6,04/19/2020,14.99,0.00,2020-04-19,14.99,Total_Prodcut_sales
7,04/20/2020,0.00,0.00,2020-04-20,0.00,Total_Prodcut_sales
8,04/21/2020,29.98,0.00,2020-04-21,29.98,Total_Prodcut_sales
9,04/22/2020,14.99,0.00,2020-04-22,14.99,Total_Prodcut_sales
10,04/23/2020,59.96,0.00,2020-04-23,59.96,Total_Prodcut_sales
11,04/24/2020,0.00,0.00,2020-04-24,0.00,Total_Prodcut_sales
12,04/25/2020,64.94,0.00,2020-04-25,64.94,Total_Prodcut_sales
13,04/26/2020,99.92,0.00,2020-04-26,99.92,Total_Prodcut_sales
14,04/27/2020,122.91,0.00,2020-04-27,122.91,Total_Prodcut_sales
15,04/28/2020,0.00,0.00,2020-04-28,0.00,Total_Prodcut_sales
16,04/29/2020,14.99,0.00,2020-04-29,14.99,Total_Prodcut_sales
17,04/30/2020,11.99,0.00,2020-04-30,11.99,Total_Prodcut_sales
18,05/01/2020,11.99,0.00,2020-05-01,11.99,Total_Prodcut_sales
19,05/02/2020,0.00,0.00,2020-05-02,0.00,Total_Prodcut_sales
20,05/03/2020,26.98,0.00,2020-05-03,26.98,Total_Prodcut_sales
21,05/04/2020,71.94,0.00,2020-05-04,71.94,Total_Prodcut_sales
22,05/05/2020,86.93,0.00,2020-05-05,86.93,Total_Prodcut_sales
23,05/06/2020,65.94,0.00,2020-05-06,65.94,Total_Prodcut_sales
24,05/07/2020,125.90,0.00,2020-05-07,125.90,Total_Prodcut_sales
25,05/08/2020,264.77,14.99,2020-05-08,279.76,Total_Prodcut_sales
26,05/09/2020,65.94,0.00,2020-05-09,65.94,Total_Prodcut_sales
27,05/10/2020,97.92,0.00,2020-05-10,97.92,Total_Prodcut_sales
28,05/11/2020,147.88,0.00,2020-05-11,147.88,Total_Prodcut_sales
29,05/12/2020,219.82,0.00,2020-05-12,219.82,Total_Prodcut_sales
30,05/13/2020,169.85,0.00,2020-05-13,169.85,Total_Prodcut_sales

In [39]:
df_final = df_new1[df_new1['Total_Prodcut_sales'] > 0]

In [40]:
df_final

,Date,Ordered Product Sales,Ordered Product Sales - B2B,New_date_format,Total_Prodcut_sales,Dummy_Total_Prodcut_Sales
1,04/14/2020,12.99,0.00,2020-04-14,12.99,Total_Prodcut_sales
2,04/15/2020,59.96,0.00,2020-04-15,59.96,Total_Prodcut_sales
3,04/16/2020,59.96,0.00,2020-04-16,59.96,Total_Prodcut_sales
4,04/17/2020,89.94,14.99,2020-04-17,104.93,Total_Prodcut_sales
5,04/18/2020,74.95,14.99,2020-04-18,89.94,Total_Prodcut_sales
6,04/19/2020,14.99,0.00,2020-04-19,14.99,Total_Prodcut_sales
8,04/21/2020,29.98,0.00,2020-04-21,29.98,Total_Prodcut_sales
9,04/22/2020,14.99,0.00,2020-04-22,14.99,Total_Prodcut_sales
10,04/23/2020,59.96,0.00,2020-04-23,59.96,Total_Prodcut_sales
12,04/25/2020,64.94,0.00,2020-04-25,64.94,Total_Prodcut_sales
13,04/26/2020,99.92,0.00,2020-04-26,99.92,Total_Prodcut_sales
14,04/27/2020,122.91,0.00,2020-04-27,122.91,Total_Prodcut_sales
16,04/29/2020,14.99,0.00,2020-04-29,14.99,Total_Prodcut_sales
17,04/30/2020,11.99,0.00,2020-04-30,11.99,Total_Prodcut_sales
18,05/01/2020,11.99,0.00,2020-05-01,11.99,Total_Prodcut_sales
20,05/03/2020,26.98,0.00,2020-05-03,26.98,Total_Prodcut_sales
21,05/04/2020,71.94,0.00,2020-05-04,71.94,Total_Prodcut_sales
22,05/05/2020,86.93,0.00,2020-05-05,86.93,Total_Prodcut_sales
23,05/06/2020,65.94,0.00,2020-05-06,65.94,Total_Prodcut_sales
24,05/07/2020,125.90,0.00,2020-05-07,125.90,Total_Prodcut_sales
25,05/08/2020,264.77,14.99,2020-05-08,279.76,Total_Prodcut_sales
26,05/09/2020,65.94,0.00,2020-05-09,65.94,Total_Prodcut_sales
27,05/10/2020,97.92,0.00,2020-05-10,97.92,Total_Prodcut_sales
28,05/11/2020,147.88,0.00,2020-05-11,147.88,Total_Prodcut_sales
29,05/12/2020,219.82,0.00,2020-05-12,219.82,Total_Prodcut_sales
30,05/13/2020,169.85,0.00,2020-05-13,169.85,Total_Prodcut_sales

In [41]:
df_final.columns

Index(['Date', 'Ordered Product Sales', 'Ordered Product Sales - B2B',
       'New_date_format', 'Total_Prodcut_sales', 'Dummy_Total_Prodcut_Sales'],
      dtype='object')

In [45]:
df_final_new = df_final[['Dummy_Total_Prodcut_Sales','New_date_format','Total_Prodcut_sales']]

In [46]:
df_final_new

   Dummy_Total_Prodcut_Sales New_date_format  Total_Prodcut_sales
1        Total_Prodcut_sales      2020-04-14                12.99
2        Total_Prodcut_sales      2020-04-15                59.96
3        Total_Prodcut_sales      2020-04-16                59.96
4        Total_Prodcut_sales      2020-04-17               104.93
5        Total_Prodcut_sales      2020-04-18                89.94
6        Total_Prodcut_sales      2020-04-19                14.99
8        Total_Prodcut_sales      2020-04-21                29.98
9        Total_Prodcut_sales      2020-04-22                14.99
10       Total_Prodcut_sales      2020-04-23                59.96
12       Total_Prodcut_sales      2020-04-25                64.94
13       Total_Prodcut_sales      2020-04-26                99.92
14       Total_Prodcut_sales      2020-04-27               122.91
16       Total_Prodcut_sales      2020-04-29                14.99
17       Total_Prodcut_sales      2020-04-30                11.99
18       Total_Prodcut_sales      2020-05-01                11.99
20       Total_Prodcut_sales      2020-05-03                26.98
21       Total_Prodcut_sales      2020-05-04                71.94
22       Total_Prodcut_sales      2020-05-05                86.93
23       Total_Prodcut_sales      2020-05-06                65.94
24       Total_Prodcut_sales      2020-05-07               125.90
25       Total_Prodcut_sales      2020-05-08               279.76
26       Total_Prodcut_sales      2020-05-09                65.94
27       Total_Prodcut_sales      2020-05-10                97.92
28       Total_Prodcut_sales      2020-05-11               147.88
29       Total_Prodcut_sales      2020-05-12               219.82
30       Total_Prodcut_sales      2020-05-13               169.85

In [49]:
#0r
column_order = ['Dummy_Total_Prodcut_Sales','New_date_format','Total_Prodcut_sales']
df_final = df_final[column_order]

In [50]:
df_final

   Dummy_Total_Prodcut_Sales New_date_format  Total_Prodcut_sales
1        Total_Prodcut_sales      2020-04-14                12.99
2        Total_Prodcut_sales      2020-04-15                59.96
3        Total_Prodcut_sales      2020-04-16                59.96
4        Total_Prodcut_sales      2020-04-17               104.93
5        Total_Prodcut_sales      2020-04-18                89.94
6        Total_Prodcut_sales      2020-04-19                14.99
8        Total_Prodcut_sales      2020-04-21                29.98
9        Total_Prodcut_sales      2020-04-22                14.99
10       Total_Prodcut_sales      2020-04-23                59.96
12       Total_Prodcut_sales      2020-04-25                64.94
13       Total_Prodcut_sales      2020-04-26                99.92
14       Total_Prodcut_sales      2020-04-27               122.91
16       Total_Prodcut_sales      2020-04-29                14.99
17       Total_Prodcut_sales      2020-04-30                11.99
18       Total_Prodcut_sales      2020-05-01                11.99
20       Total_Prodcut_sales      2020-05-03                26.98
21       Total_Prodcut_sales      2020-05-04                71.94
22       Total_Prodcut_sales      2020-05-05                86.93
23       Total_Prodcut_sales      2020-05-06                65.94
24       Total_Prodcut_sales      2020-05-07               125.90
25       Total_Prodcut_sales      2020-05-08               279.76
26       Total_Prodcut_sales      2020-05-09                65.94
27       Total_Prodcut_sales      2020-05-10                97.92
28       Total_Prodcut_sales      2020-05-11               147.88
29       Total_Prodcut_sales      2020-05-12               219.82
30       Total_Prodcut_sales      2020-05-13               169.85

In [52]:
df_final.to_csv('fianl.csv', index=False, header=False)